@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --VeryDarkBlue: hsl(230, 29%, 20%);
    --DarkGrayishBlue: hsl(230, 11%, 40%);
    --GrayishBlue: hsl(231, 7%, 65%);
    --LightGrayishBlue: hsl(207, 33%, 95%);
    --Red: hsl(0, 100%, 68%);

    --Fontsize: 18px;

}
body{
    background-color: var(--LightGrayishBlue);
    overflow-X: hidden;
    font-family: 'Barlow', sans-serif;
}
h1{
    font-family: "Barlow Condensed";
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}
.paragraph {
    margin-top: 1rem;
    font-size: var(--Fontsize);
    color: var(--GrayishBlue);
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Barlow Condensed";
}
.container::before {
            content: '';
            background: var(--GrayishBlue);
            position: absolute;
            border-radius: 0 0 50px 50px ;
            top: 0px;
            left: 50%;
            width: 50vw;
            height: 50vh;
            z-index: -1;
        }
.container {
    margin-top: -5rem;
    width: 100%;
    height: 100vh;

}
section{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 4rem;
}

/*------------NAVIGATION -----------*/
nav.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 2rem 0 2rem 0;
    align-items: center;
}
.img-logo{
    margin-left: -10rem;
}
.nav-menu{
    display: flex;
    list-style: none;

}
.nav-link{
    padding-left: 2rem;
    font-size: var(--Fontsize);
    font-family: "Barlow Condensed";
    font-weight: 700;
    color: var(--VeryDarkBlue);
    text-transform: uppercase;
}
li:after {
  position: absolute;
  content: '';
  height: 5px;
  margin-left: -3.1rem;
  margin-top: 1rem;
  width: 57px;
  border-bottom: solid 3px var(--VeryDarkBlue);
  transition: left 250ms ease-in-out, right 250ms ease-in-out;
  opacity: 0;
}

li:hover:after {
  opacity: 1;
  cursor: pointer;
}
.login::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: -3rem;
    margin-top: .5rem;
    /* top: 0; */
    background: var(--DarkGrayishBlue);
    position: absolute;
    z-index: 1;
}
.login{
    color: var(--DarkGrayishBlue);
    margin-left: 5rem;
    font-size: var(--Fontsize);
    font-family: "Barlow Condensed";
    font-weight: 700;
    font-size: var(--Fontsize);
}
.login:hover{
    border-bottom:  var(--DarkGrayishBlue);
}
.login:after {
  position: absolute;
  content: '';
  height: 5px;
  margin-left: -3.1rem;
  margin-top: 1rem;
  width: 57px;
  border-bottom: solid 3px var(--DarkGrayishBlue);
  transition: left 250ms ease-in-out, right 250ms ease-in-out;
  opacity: 0;
}

.login:hover:after {
  opacity: 1;
  cursor: pointer;
}

/*-----------styling container box----------*/
.first-containerbox {
    padding-left: 7rem;

}
.div-mono{
    display: flex;
    align-items: center;
}
h3{
    background: var(--VeryDarkBlue);
    padding: .2rem .5rem;
    color: var(--LightGrayishBlue);
    border-radius: 15px;
}
.p-mono {
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: "Barlow Condensed";
    font-size: var(--Fontsize);
    color: var(--DarkGrayishBlue);
}
.second-containerbox {
    margin-top: -2.5rem;
}
.third-containerbox{
    margin-top: 1rem;
    display: flex;
    align-items: center;

}
.btn{
    padding: .5rem 1.5rem;
    background: var(--Red);
    border: 1px solid var(--Red);
    border-radius: 5px;
    color: var(--LightGrayishBlue);
    font-size: var(--Fontsize);
    font-family: "Barlow Condensed";
    text-transform: uppercase;
    font-weight: 400;
}

.btn-p{
    padding-left: 10px;
    font-family: "Barlow";
    font-size: var(--Fontsize);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--DarkGrayishBlue);
}
div.secondnavbar{
    opacity: 0;
}

/*-----------Responsiveness-----------*/
@media screen and (max-width: 600px) {
nav.menu{
    display: none;
}
div.secondnavbar{
    opacity: 1;
}
div.button{
    margin-top: 3rem;
    margin-left: 1rem;
  color: var(--VeryDarkBlue);
  font-size: 30px;
  padding: 8px 20px;
  width: 90%;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
  transition: width .4s;
}
.fas.expand:before{
  content: '\f00d';
}
ul{
  list-style: none;
  position: absolute;
  top: 120px;
  left: 3rem;
  display: block;
  background: var(--LightGrayishBlue);
  width: 80%;
  justify-content: center;
  text-align: center;
  display: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
hr{
    border-top: 1px solid var(--GrayishBlue);
}
ul li{
  line-height: 35px;
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
ul li:last-child{
  border-bottom: none;
}
ul li:hover{
  box-shadow: inset 0 0 5px #e0e3e3,
              inset 0 0 10px #f0f1f1;
}
ul li a{
  color: var(--VeryDarkBlue);
  font-size: 18px;
  text-decoration: none;
}
ul li:hover a{
  color: var(--GrayishBlue);
}
/*-------SECTION------*/
section{
    display:flex;
  flex-direction: column-reverse;
}
.container {
    margin-top: 1rem;
}
h1{
    margin-top: 1.5rem;
    font-size: 3rem;
}
.first-containerbox{
    margin-top: 5rem;
    padding-left: 3rem;
}
.second-containerbox{
    margin-top: 3rem;
}
.img{
    width: 100%;
}
.container::before {
    height: 80vh;
}
}